{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

{{#with data}}
<div class="info">
  <div class="info__text info__text--{{../theme}}">
    <h1 class="info__title">{{info}}</h1>
    <div class="info__description">{{description}}</div>
  </div>
  <a class="info__button info__button--{{../theme}}" href={{backLink}}>Повернутися назад</a>
</div>
{{/with}}

{{!
Цей код містить лише те, що буде виводитись в

<body>
  Адже наш layout/default.hbs має вже структуру HTML
  }}