{{#each list}}
<div class="product__card">

    <h2 class="product__title">{{name}}</h2>
    <div class="product__description">{{description}}</div>
    <div class="product__id">ID:{{id}}</div>
    <div class="item1">
        <div class="product__price">{{price}} ₴</div>
        <a class="product__button" href="/product-edit?id={{id}}">Редагувати</a>
    </div>
</div>
{{/each}}